body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    background-color: #138ee7;
    padding: 10px 0;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.navbar li {
    margin: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.navbar a:hover {
    background-color: #575757;
}

.content-section {
    display: none; /* Hide all sections initially */
    padding: 20px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
}

.content-section.active {
    display: block; /* Show the active section */
}
